@import "../../styles/variables.scss";

.Container {
  display: flex;
  justify-content: center;

  h1 {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }
}

.formContainer {
  background: $background-Container;
}

.form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center baseline;
  margin: 3rem;

  h1 {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 2rem;
    width: 100%;
  }
}
