@import "../../styles/variables.scss";

.Container {
  display: flex;
  justify-content: center;
}

.formContainer {
  border: 1px solid $blue;
  border-radius: 4px;
  box-shadow: $shadow;
  background: $background-Container;
}

.form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center baseline;
  margin: 3rem;

  h1 {
    margin-bottom: 2rem;
  }

  button {
    margin-top: 2rem;
    width: 100%;
  }
}
