@import "../../styles/variables.scss";

.btn {
  background-color: $blue;
  padding: 0.7em 1.2em;
  text-decoration: none;
  transition: 0.5s;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background 0.2s;
  font-weight: bold;
  font-size: 1rem;
  color: $background-Container;

  &:hover {
    background: $background-Container;
    color: $blue;
    border: 2px solid $blue;
  }
}
