@import "../../styles/variables.scss";

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $blue;
  border-radius: 8px;
  background: $background-Container;
  color: $white;

  height: 22rem;
  width: 15rem;

  &:hover {
    border: 1px solid $blue;
    box-shadow: $shadow;
    background: $black;
  }

  .wrapperImg {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 11rem;
      width: 11rem;
      margin: 1.4rem 0 0 0;
      border-radius: 4%;
      overflow: hidden;
    }
  }

  .personalDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    overflow: hidden;

    .divider {
      display: flex;
      align-items: center;

      div {
        padding: 0 0.4rem 0 0.4rem;
      }
    }

    strong {
      padding-bottom: 2px;
      font-size: 1.4em;
    }

    span {
      padding-bottom: 2px;
      font-size: 1rem;
    }
  }

  .showMore {
    text-transform: none;
    margin: 0 0.6rem;
    height: 1.6rem;
    overflow: hidden;
    background: $blue;
    transition: background 0.2s;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    color: $background-Container;

    &:hover {
      background: $black;
      color: $blue;
      border: 2px solid $blue;
    }
  }

  .projectCardActions {
    display: flex;
    justify-content: center;

    svg {
      margin-right: 0.4rem;
    }

    button {
      font-size: 1rem;
    }

    a,
    button {
      height: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-decoration: none;
      margin: 10px;
      overflow: hidden;
      background: $blue;
      transition: background 0.2s;
      border: none;
      border-radius: 4px;
      color: $background-Container;
      font-weight: bold;
    }

    a:hover {
      background: $black;
      color: orange;
      border: 2px solid orange;
    }

    button:hover {
      background: $black;
      color: $red;
      border: 2px solid $red;
    }
  }
}
