@import "./variables";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: $background-App;
  color: $white;
  font-family: "Times New Roman", Times, serif;
}

a,
button {
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
