@import "./variables";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: no-repeat $background-App;
  background-size: auto;
  background-position: center;
  background-image: url("../assets/undraw_react_y7wq.svg");
  color: $white;
  font-family: "Times New Roman", Times, serif;
}

a,
button {
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
