@import "../../styles/variables.scss";

.filter {
  border: 1px solid $blue;
  border-radius: 4px;
  box-shadow: $shadow;
  width: 20%;
  height: 800px;
  padding: 20px;
  background: $background-Container;
  margin-left: 1.2em;

  h1 {
    margin-bottom: 10px;
  }
}
