@import "../../styles/variables.scss";

.filter {
  // border: 1px solid $blue;
  // border-radius: 4px;
  // box-shadow: $shadow;
  // background: $background-Container;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  border-right: 1px solid $blue;
  width: 15%;
  height: 50em;
  padding: 0 1.25em;

  h1 {
    margin-bottom: 0.6em;
  }
}
