@import "../../styles/variables.scss";

details {
  summary {
    list-style: none;
  }
}

.options {
  display: flex;
  flex-direction: column;
}

.genero,
.competencia,
.nivel {
  font-size: 1.2em;
  border: solid 1px $blue;
  border-radius: 4px;
  // max-width: 500px;
  transition: green 0.25s;
  will-change: green;
  background: $background-Container;

  &:first-child {
    margin-top: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover {
    background: $black;
    box-shadow: $shadow;
  }

  &[open] {
    .title:after {
      content: "-";
    }
  }
}

.title {
  cursor: pointer;
  font-weight: 600;
  padding: 16px;
  position: relative;

  &:after {
    content: "+";
    position: absolute;
    right: 16px;
    transform: translatey(-50%);
    top: 50%;
  }
}

.options {
  border-top: $blue solid 1px;
  padding: 0.8em;
  font-size: 1em;

  span {
    margin-left: 10px;
  }
}
