@import "../../styles/variables.scss";

.wrapper1 {
  // margin-left: 120px;
}

.wrapper2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 0;

  strong {
    margin-right: 10px;
  }

  select {
    min-width: 40px;
    padding: 6px;
    background: $background-Container;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 4px;
    transition: background 0.2s;
    height: 32px;

    &:hover {
      border: 1px solid $blue;
      box-shadow: $shadow;
      background: $black;
    }
  }
}
