.home {
  display: flex;
  height: 80%;
}

.homeProfiles {
  display: flex;
  flex-direction: column;
  margin: 0 4em;
}

.profiles {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-gap: 20px;
  justify-content: center;
}
