$background: #26262e;
$background-filter: #1b1b1b;
$blue: #4dcfe1;
$white: #fff;
$black: #000;
$shadow: 0 0 1em $blue;

.filter {
  border: 1px solid $blue;
  border-radius: 4px;
  box-shadow: $shadow;
  width: 20%;
  height: 800px;
  padding: 20px;
  background: $background-filter;

  h1 {
    margin-bottom: 10px;
  }
}

details {
  summary {
    list-style: none;
  }
}

.options {
  display: flex;
  flex-direction: column;
}

.genero,
.competencia,
.nivel {
  font-size: 1.4rem;
  border: solid 1px $blue;
  border-radius: 4px;
  max-width: 500px;
  transition: green 0.25s;
  will-change: green;
  background: $background-filter;

  &:first-child {
    margin-top: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &:hover {
    background: $black;
    box-shadow: $shadow;
  }

  &[open] {
    .title:after {
      content: "-";
    }
  }
}

.title {
  cursor: pointer;
  font-weight: 600;
  padding: 16px;
  position: relative;

  &:after {
    content: "+";
    position: absolute;
    right: 16px;
    transform: translatey(-50%);
    top: 50%;
  }
}

.options {
  border-top: $blue solid 1px;
  font-size: 14px;
  line-height: 21px;
  padding: 16px;
  font-size: 1.2rem;

  span {
    margin-left: 10px;
  }
}
