$background: #26262e;
$background-card: #262626;
$blue: #4dcfe1;
$white: #fff;
$shadow: 0 0 1em $blue;

.wrapper-1 {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
  // background: red;
  justify-content: flex-start;
}

.wrapper-2 {
  // background: green;
  // flex: 2;
  margin-left: 120px;
}

.wrapper-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;

  strong {
    margin-right: 10px;
  }

  select {
    min-width: 40px;
    padding: 6px;
    background: $background-card;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 4px;
    box-shadow: $shadow;
    transition: background 0.2s;
    height: 32px;
  }
}

.profiles {
  display: grid;
  grid-template-columns: repeat(5, 240px);
  grid-gap: 20px;
  justify-content: center;

  .card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    border: 1px solid $blue;
    border-radius: 8px;
    background: $background-card;
    box-shadow: $shadow;
    height: 380px;
    width: 240px;

    img {
      height: 180px;
      margin: 10px;
      border: 2px solid $blue;
      border-radius: 4%;
      overflow: hidden;
    }

    .personal-details {
      display: flex;
      flex-direction: column;
      margin: 10px;
      overflow: hidden;

      strong {
        padding-bottom: 2px;
        font-size: 1.4rem;
      }

      span {
        padding-bottom: 2px;
        font-size: 1.2rem;
      }
    }

    .show-more {
      margin: 10px;
      height: 40px;
      overflow: hidden;
      background: $blue;
      transition: background 0.2s;
      border: none;
      border-radius: 4px;
      font-weight: bold;
      font-size: 1.2rem;
      color: $background-card;

      &:hover {
        background: $background-card;
        color: $blue;
        border: 2px solid $blue;
      }
    }
  }
}

/* Organiza os cards conforme diminui a tela */
@media (max-width: 1300px) {
  .profiles {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }

  .card {
    margin: 0 auto;
  }
}

/* Remove o container do filtro */
@media (max-width: 830px) {
  .wrapper-3 {
    display: none;
  }
}
