$background: #26262e;
$background-card: #1b1b1b;
$blue: #4dcfe1;
$white: #fff;
$black: #000;
$shadow: 0 0 1em $blue;

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid $blue;
  border-radius: 8px;
  background: $background-card;

  height: 380px;
  width: 240px;

  &:hover {
    border: 1px solid $blue;
    box-shadow: $shadow;
    background: $black;
  }

  .wrapper_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    img {
      height: 180px;
      width: 180px;
      margin: 10px;
      border-radius: 4%;
      overflow: hidden;
    }
  }

  .personal_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    overflow: hidden;

    strong {
      padding-bottom: 2px;
      font-size: 1.4rem;
    }

    span {
      padding-bottom: 2px;
      font-size: 1.2rem;
    }
  }

  .show_more {
    margin: 10px;
    height: 40px;
    overflow: hidden;
    background: $blue;
    transition: background 0.2s;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2rem;
    color: $background-card;

    &:hover {
      background: $black;
      color: $blue;
      border: 2px solid $blue;
    }
  }
}
