@import "../../styles/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $bg-App;
  padding: 1em 2em;
}

.logo {
  display: flex;
  align-items: center;

  img {
    height: 6em;
  }

  p {
    font-size: 2em;
    padding: 0 0 0 0.6em;
  }
}

.registerDev {
  font-size: 2em;
}
