$background: #26262e;
$background-header: #262626;
$blue: #4dcfe1;
$white: #fff;

.header {
  display: flex;
  margin: 40px;
  justify-content: space-between;
  border: 1px solid $blue;
  border-radius: 8px;
  padding: 10px 40px;
  align-items: center;
  background: $background-header;
  box-shadow: 0 0 1em $blue;
  overflow: hidden;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 60px;
    }

    strong {
      margin-left: 20px;
      font-size: 34px;
    }
  }

  .redes-sociais {
    display: flex;
    padding: 20px;

    a {
      text-decoration: none;
      color: $white;
      margin-left: 20px;
      font-size: 24px;
      font-weight: bold;

      &:hover {
        text-shadow: 1px 1px 0 lighten($blue, 15%);
        color: $blue;
      }
    }
  }
}
