@import "../../styles/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.6em 2.5em;
  align-items: center;
  background: $background-Container;
  overflow: hidden;
  height: 8em;
  // border-radius: 8px;
  // margin: 1.2em;
  // border: 1px solid $blue;
  // box-shadow: 0 0 1em $blue;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 60px;

      &:hover {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        @-moz-keyframes spin {
          100% {
            -moz-transform: rotate(360deg);
          }
        }
        @-webkit-keyframes spin {
          100% {
            -webkit-transform: rotate(360deg);
          }
        }
        @keyframes spin {
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
      }
    }

    a {
      text-decoration: none;
      color: $white;
    }

    strong {
      margin-left: 20px;
      font-size: 2.2rem;
    }
  }

  .registerDev {
    display: flex;
    padding: 20px;

    a {
      text-decoration: none;
      color: $white;
      margin-left: 20px;
      font-size: 1.4rem;
      font-weight: bold;
      margin-right: 26px;

      &:hover {
        text-shadow: 1px 1px 0 lighten($blue, 15%);
        color: $blue;
      }
    }
  }
}
