@import "./variables";

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body,
html,
#root {
  background: $background-App;
  // background-position: center;
  // background-image: url("../assets/undraw_react_y7wq.svg");
  color: $white;
  font-family: "Times New Roman", Times, serif;
  height: 100%;
}

a,
button {
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}
